.profileHead {
  padding: 1rem;
  position: sticky;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  gap: 2rem;
  top: 0;
}

.profileHeadUser h3 {
  text-transform: capitalize;
}

.profileHeadUser span {
  font-size: 0.7rem;
  font-weight: 600;
  opacity: 0.7;
}

.coverImage img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}

.userBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.activeUserNoImg {
  margin-top: -5rem;
}

.activeUserNoImg img {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  border: 4px solid black;
  cursor: pointer;
}

.editButton {
  background-color: black;
  border-radius: 20px;
  border: 2px solid gray;
  padding: 8px 17px;
}

.userInfoBox {
  padding: 1rem;
}

.userInfoBox h3 {
  text-transform: capitalize;
  font-size: 1.3rem;
}

.userInfoBox span {
  font-size: 0.9rem;
  opacity: 0.7;
}

.userPInfo {
  margin-top: 1.3rem;
}

.wrapUserInfo {
  display: grid;
  width: 85%;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.7rem;
  gap: 0.3rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.link a {
  color: blue;
  white-space: nowrap;
}

.link a:hover {
  text-decoration: underline;
}

.born {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  opacity: 0.7;
}

.born p {
  font-size: 0.9rem;
}

.joined {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  text-transform: capitalize;
}

.userFollower {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.userFollower p {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  cursor: pointer;
}

.userFollower p:hover {
  text-decoration: underline;
}

.noCover {
  background-color: white;
}

/* //////////////////////////////////Edit profile////////////////////////// */

.editProfile {
  background-color: black;
  z-index: 1000;
  border-radius: 10px;
  width: 700px;
  padding-top: 0;
  height: 600px;
  overflow-y: scroll;
}

.editProfileTop {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 16;
}

.leftEdit {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.rightEdit {
  background-color: white;
  border-radius: 20px;
  color: black;
  font-size: 0.95rem;
  padding: 10px 17px;
}

.profileAction {
  padding: 0 1rem;
  margin-top: -4rem;
}

.editCover {
  position: relative;
}

.imageOverLay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.coverAction {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2rem;
}

.coverAction label,
.removeCover,
.pCoverAction label {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editUserImage img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 4px solid black;
}

.editUserImage {
  position: relative;
  z-index: 10;
}

.pImageOverLay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

.pCoverAction {
  position: absolute;
  z-index: 12;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 120px;
  height: 120px;
}

.editProfileForm {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.editBirthDate {
  padding: 1rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.editBirthAction {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.editBirthAction p {
  opacity: 0.7;
  font-size: 0.9rem;
}

.editBirthAction span {
  font-size: 0.9rem;
  color: blue;
  cursor: pointer;
}

.editBirthDate h3 {
  font-size: 1.1rem;
  margin-top: 0.4rem;
}

.editDisplay {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding-bottom: 3rem;
}

.privateBirth {
  width: 1.5rem;
  height: 1.5rem;
  background-color: gray;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
}

.publicBirth {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  border-radius: 2px;
}

.displayBirthdate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editBirth {
  padding: 1rem;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.fullImageTop {
  position: fixed;
  top: 3%;
  left: 4%;
  z-index: 110;
}

.fullProfile,
.fullCover {
  z-index: 120;
}

.fullProfile img {
  width: 430px;
  height: 430px;
  border-radius: 100%;
}

.fullCover {
  width: 100%;
  height: 500px;
}

.fullCover img {
  width: 100%;
  height: 100%;
}
